# Virtual Environment
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# VS Code
.vscode/

# JetBrains
.idea/

# Logs
*.log

# Environment
.env

# Build
build/
dist/
*.egg-info/

# Tests
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Certificates (DO NOT COMMIT)
certificados/*
!certificados/.gitkeep

# Password files
*.txt

# OS
.DS_Store
Thumbs.db